body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    border-radius: 50%;
}

.profile h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.downloads {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.downloads li {
    margin: 0 10px;
}

.downloads a {
    color: white;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    .profile img {
        width: 80px;
    }

    .profile h1 {
        font-size: 1.2em;
    }

    nav ul li {
        margin: 10px 0;
    }

    .downloads {
        flex-direction: column;
    }

    .downloads li {
        margin: 5px 0;
    }
}
